@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

:root {
  --paddingsecciones: 2.5rem 3rem;
  --marginelementos: 10px;
  --bordes: 15px;
  --colorprincipaltexto: rgba(255, 255, 255, 0.87);
  --colortitulo: rgba(255, 255, 255, 0.979);
  --colorfondo: rgba(11, 25, 35, 255);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Ubuntu", Verdana, sans-serif;
  background-color:  var(--colorfondo) !important; 
}

.container,
.grid {
  width: 90%;
  max-width: 66.6rem;
  margin: 0 auto;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--colorfondo);
  z-index: 2;
}

.menu-nav {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.menu-nav .logo-container {
  width: auto;
}

.menu-nav .logo-container img {
  width: 150px;
}

.menu-nav .titulo {
  color: var(--colortitulo);
}

.navbar-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-container ul li {
  display: inline-block;
}

.navbar-container ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 1.0s linear;
  border-radius: 0.5rem;
}

.navbar-container ul li a:hover {
  color: rgba(16, 7, 85, 0.849);
  background-color: #fff;
  
}

/* ------ MAIN ----- */
main{
  padding-top: 9rem;
  max-width: 66.6rem;
  margin: 0 auto;
  background-color: var(--colorfondo);
  /* height: 45rem; */
}

.hero-container {
  background-image: url("../img/hombre-web.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-color: var(--colorfondo);
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  position: relative;
  height: 33.3rem;
  
}

.hero-container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--colorprincipaltexto);
  width: 50%;
  padding: var(--paddingsecciones);
  float: right;
}


.hero-container .btn {
  display: block;
  text-align: center;
  margin-left: 50px;
  padding: 10px 10px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: all 1s linear;
}

.hero-container .btn:hover {
  color: rgba(16, 7, 85, 0.849);
  background-color: #fff;
}

/* ----- PROYECTOS ----- */

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  justify-items: center;
}

.grid .hero-title {
  border-bottom: 1px solid var(--colortitulo);
  padding-bottom: 5px;
  
}

.full-column {
  grid-column-start: 1;
  grid-column-end: 4;
}


.btn-project {
  display: flex;
  justify-content: center;
  
}

.btn-project a,
.personal-project a {
  color: var(--colorprincipaltexto);
  background-color: transparent;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 10px;
  padding: 10px 24px;
  text-decoration: none;
  border: 1px solid var(--colorprincipaltexto);
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out;
}

.btn-project a:hover,
.personal-project a:hover {
  color: var(--colorfondo);
  background-color: var(--colortitulo);
}

.categoria {
  color: var(--colorprincipaltexto);
  text-align: center;
}

.project-img {
  overflow: hidden;
  border-radius: 60px;
  width: 300px;
  height: 300px;
}

.project-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-img:hover img {
  transform: scale(1.7);
  border-radius: 60px;
}

.project-img img{
  margin: auto;
  display: block;
  border-radius: 60px;
  transition: transform 1s ;
}

.personal-project {
  grid-column-start: 3;
  grid-column-end: -3;
}


/* ----- FOOTER ----- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorfondo);
}

footer .contenedor-redes {
  padding: 15px;
  border-bottom: 1px solid white;

}

footer .contenedor-redes,
.copyright {
  color: var(--colortitulo);
}

footer .contenedor-redes img {
  width: 50px;
}

/*ricardo*/
.title-tuproyecto {
  margin: 10px 15px;
  padding-top: 20px;
  /* text-align: center; */
  color: var(--colortitulo);
}

.textSize2 {
	font-size: 20px;
  text-align: left;
}

textarea {
  width: 40vw;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
	margin-top: 2rem;
}

table , th, td {
	border:1px solid rgb(75, 70, 70);
  text-align: left;
  white-space: nowrap;	
}

.text-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
}

.for-footer{
 margin-top: auto;
}

.input-width{
  width: 25vw;
}

.hero-container-proyectos {
  background-image: url("../img/hombre-web.png");
  background-size: auto;
  /* clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%); */
  position: relative;
  height: 33.3rem;
}

/* ----- ACERCA DE ----- */

.about-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  padding-top: 90px ;
}

.about-container p {
  margin: 0 20px;
}

.container img {
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
  width: 300px;
  margin: auto;
  display: block;
}

.contenedor-redes img {
  width: 50px;
}

.personal {
  display: flex;
  justify-content: center;
}

.borde {
  border: 2px solid var(--colortitulo);
}

/* ----- ESTILOS TEXTO ----- */

.textSize1 {
  font-size: 1.5em;
}

.texto {
  text-align: justify;
  color: var(--colorprincipaltexto);
  line-height: 27px;
}

.hero-title {
  padding-top: 20px;
}

.hero-title,
.titulo {
  margin: 10px 15px;
  text-align: center;
  color: var(--colortitulo);
}

/* ----- MEDIA QUERIES ----- */

@media only screen and (m) {
  
}

.about-us-lines{
  font-size: 1.2rem;
  text-align: center;
}