@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

:root {
  --paddingsecciones: 2.5rem 3rem;
  --marginelementos: 10px;
  --bordes: 15px;
  --colorprincipaltexto: rgba(255, 255, 255, 0.87);
  --colortitulo: rgba(255, 255, 255, 0.979);
  --colorfondo: rgba(11, 25, 35, 255);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
    background-color: var(--colorfondo) !important;
}

.grid {
  font-family: "Ubuntu", Verdana, sans-serif;
  background-color: var(--colorfondo) !important;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 650px 200px;
  grid-template-areas:
    "my-header"
    "my-main"
    "my-footer";
}

header,
footer,
main,
section {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  
}

header {
  grid-area: my-header;
  background-color: rgba(11, 25, 35, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--colorfondo);
  z-index: 2;
}

.padding-top {
  padding-top: 150px;
}

.flex {
  display: flex;
  align-items: center;

}

section .hero-title {
  padding: 40px;
}

.contenedor-titulo .hero-title {
  padding: 0;
}

.menu-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-nav .logo-container {
  width: auto;
}

.menu-nav .logo-container img {
  width: 80px;
}

.menu-nav .titulo {
  color: var(--colortitulo);
}

.ocultar {
  display: none;
}

.main-nav {
  display: flex;
}

.nav-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  border-bottom: 1px dotted #fff;
  transition: background-color 0.9s linear;
  cursor: pointer;
}

.nav-links ul li a:hover {
  background-color: #fff;
  color: var(--colorfondo);
}

main {
  background-color: var(--colorfondo);
  grid-area: my-main;
}

footer {
  grid-area: my-footer;
}

.hero-title {
  color: var(--colorprincipaltexto);
  text-align: center;
  margin-bottom: 20px;
}

.hero-container .hero-img {
  max-width: 100vw;
}

.hero-container .hero-img img {
  width: 100%;
  border-radius: 5%;
}

.hero-container .contenedor-titulo {
  width: 100%;
}

.hero-container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--colorprincipaltexto);
  width: 100%;
  padding-right: 60px;
}

.hero-container > .hero-text > .contenedor-titulo .hero-title {
  margin-top: 10px;
}

.btn-container {
  width: 50%;
}

.hero-container .btn {
  display: block;
  text-align: center;
  margin: 15px auto;
  padding: 10px 10px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.8s linear;
}

.hero-container .btn:hover {
  color: rgba(16, 7, 85, 0.849);
  background-color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorfondo);
  width: 100%;
}

footer .contenedor-redes {
  padding: 15px;
  border-top: 1px solid #fff;
  width: 100%;
}

footer .contenedor-redes,
.copyright {
  color: var(--colortitulo);
  padding: 30px 0;
}

footer .contenedor-redes img {
  width: 50px;
  margin: 15px;
}

.wa {
  width: 75px;
}

.secciones {
  padding: var(--paddingsecciones);
  margin-top: 40px !important;
  border-top: 1px solid #fff;
}


/* ----- PROYECTOS ----- */

.grid-proyectos {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  justify-items: center;
}

.grid-proyectos .hero-title {
  border-bottom: 1px solid var(--colortitulo);
  padding-bottom: 5px;
}

.section-project {
    margin-top: 120px;
}

.project-container {
    border: 1px dotted #fff;
    padding: 10px;
    border-radius: 20px;
}

.full-column {
  grid-column-start: 1;
  grid-column-end: 4;
}

.btn-project {
  display: flex;
  justify-content: center;
}

.btn-project a,
.personal-project a {
  color: var(--colorprincipaltexto);
  background-color: transparent;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 10px;
  padding: 10px 24px;
  text-decoration: none;
  border: 1px solid var(--colorprincipaltexto);
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out;
}

.btn-project a:hover,
.personal-project a:hover {
  color: var(--colorfondo);
  background-color: var(--colortitulo);
}

.categoria {
  color: var(--colorprincipaltexto);
  text-align: center;
}

.project-img {
  overflow: hidden;
  border-radius: 60px;
  width: 300px;
  height: 300px;
}

.project-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-img:hover img {
  transform: scale(1.7);
  border-radius: 60px;
}

.project-img img {
  margin: auto;
  display: block;
  border-radius: 60px;
  transition: transform 1s;
}

.personal-project {
  grid-column-start: -5;
  grid-column-end: -1;
}

/* ----- ACERCA DE ----- */

.about-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  padding-top: 100px;
}

.about-container p {
  margin: 0 20px;
}

.container img {
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
  width: 300px;
  margin: auto;
  display: block;
}

.container-personal {
    display: flex;
}
.contenedor-redes img {
  width: 50px;
}

.personal {
  display: flex;
  justify-content: center;
}

.borde {
  border: 2px dotted var(--colorprincipaltexto);
}

/* PROYECTO A MEDIDA */
.title-tuproyecto {
  margin: 50px 15px;
  padding-top: 20px;
  color: var(--colortitulo);
  text-align: justify;
}

.textSize2 {
	font-size: 20px;
  text-align: left;
}

textarea {
  width: 40vw;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
	margin-top: 2rem;
}

table , th, td {
	border:1px solid rgb(75, 70, 70);
  text-align: left;
  white-space: nowrap;	
}

.text-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
}

.for-footer{
 margin-top: auto;
}

.input-width{
  width: 25vw;
}


/* ----- ESTILOS TEXTO ----- */

.textSize1 {
  font-size: 1.5em;
}

.texto {
  text-align: justify;
  color: var(--colorprincipaltexto);
  line-height: 34px;
}

.hero-title {
  padding-top: 40px;
}

.subrayado {
    border-bottom: 1px solid var(--colorprincipaltexto);
}

.hero-title,
.titulo {
  margin: 10px 15px;
  text-align: center;
  color: var(--colortitulo);
  font-size: 30px;
}

.underline {
    text-decoration: underline rgb(13, 13, 121);
}

.centrado {
  text-align: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 400px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 80px 1200px 400px;
  }
  header {
    width: 90%;
  }
  .titulo {
    text-align: center;
    font-size: 22px;
  }
  .hero-title {
    font-size: 20px;
  }
  .hero-img img {
    width: 90%;
  }
  .parrafo {
    border: 2px dotted var(--colorprincipaltexto);
    padding: 8px;
    font-size: 18px;
  }
  .contenedor-redes {
    border-top: 1px solid #fff;
    text-align: center;
  }
  .copyright {
    padding: 25px;
  }
}

@media screen and (max-width: 400px) {
  .grid {
    display: flex;
    flex-direction: column; 
  }
}

@media screen and (min-width: 400px) {
  .hero-text .parrafo {
    font-size: 18px;
    line-height: 22px;
  }
  body {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 80px 900px 200px;
  }
  .hero-title {
    padding: 0 40px;
    text-align: start;
    font-size: 28px;
  }
  .titulo {
    font-size: 30px;
  }
  .parrafo {
    padding: 20px 40px;
    margin-left: 40px;
    text-align: start;
    width: 100vw;
  }
  .btn-container {
    width: 100vw;
  }
  footer {
    width: 90%;
  }
  .contenedor-redes {
    border-top: 1px solid #fff;
    text-align: center;
  }
  .copyright {
    padding: 30px 0;
  }
  .main-nav {
    position: fixed;
    top: 150px;
    left: 0px;
    width: 100%;
    min-height: 100px;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .main-nav.mostrar {
    margin-left: 0;
  }

  .nav-links ul li {
    list-style: none;
    text-align: center;
  }

  .nav-links ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: background-color 1s linear;
    border-radius: 0.5rem;
  }

  .link-item {
    color: #444444;
    text-decoration: none;
    font-size: 16px;
  }

  #button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  /* LINEAS MENU HAMBURGUESA */
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }

  /* DIBUJO ICONO CIERRE */

  .button-menu.cerrar span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }

  .button-menu.cerrar span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }

  .button-menu.cerrar span:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 150px 1000px 200px;
  }
  .menu-nav .logo-container .logo {
    width: 150px;
  }

  .hero-img {
    width: 600px;
    margin: auto;
    display: block;
  }
  .title-container {
    padding-top: 10px;
    font-size: 22px;
  }
  .contenedor-titulo .hero-title {
    font-size: 24px;
  }
  .parrafo {
    padding: 20px 40px;
    line-height: 27px;
    font-size: 20px;
  }
  footer {
    width: 90%;
  }
  .contenedor-redes {
    text-align: center;
  }
  .copyright {
    padding: 30px 0;
  }
}
@media screen and (min-width: 850px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 150px 500px 200px;
  }
  .menu-nav .logo-container .logo {
    width: 150px;
  }
  header {
    height: 150px;
  }
  .hero-container .hero-text {
    position: absolute;
    top: 200px;
    right: 0px;
    left: 50%;
    float: right;
    width: 50%;
  }
  footer {
    text-align: center;
  }
  .contenedor-titulo {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 990px) {
  .contenedor-titulo,
  .parrafo {
    padding: 20px 0;
  }
  .parrafo {
    margin: 0 40px;
  }
  footer .contenedor-redes,
  footer .copyright {
    padding: 25px;
    border-top: 1px solid #fff;
    width: 90%;
  }
  .hero-title {
    padding-top: 0px;
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container .hero-text {
    width: 600px;
  }
  footer .contenedor-redes,
  footer .copyright {
    margin: 20px;
    border-top: 1px solid #fff;
    width: 90%;
  }
  
}
